---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="ssanjua blog">
	<main>
		<Header />
		<h1 class="text-4xl font-bold flex justify-center items-center h-screen">SSANJUA</h1>
	</main>
</Layout>
