---
import HR from "./HR.astro";
import Socials from "./Socials.astro";
---

<footer>
  <HR noPadding />
  <div class="footer-wrapper">
    <Socials />
    <div class="copyright-wrapper">
      <span>made with ❤️ by ssanjua</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>2024</span>
    </div>
  </div>
  <style>
    footer {
      @apply mt-auto w-full;
    }
    .footer-wrapper {
      @apply py-6 sm:py-4 flex text-xs flex-col sm:flex-row-reverse justify-between items-center;
    }
    .social-icons {
      @apply p-1 flex gap-2;
    }
    .social-icons svg {
      @apply w-6 h-6 scale-100 fill-skin-base hover:fill-skin-accent;
    }
    .copyright-wrapper {
      @apply my-2 flex flex-col sm:flex-row items-center;
    }
    .separator {
      @apply hidden sm:inline;
    }
  </style>
</footer>
