---
export interface Props {
  className?: string;
  noPadding?: boolean;
}
const { noPadding = false } = Astro.props;
---

<div class={`max-w-4xl mx-auto ${noPadding ? "px-0" : "px-4"}`}>
  <hr class="border-skin-accent" />
</div>