---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  newTab?: boolean;
  tabindex?: string;
  disabled?: boolean;
}
const { href, className, ariaLabel, title, newTab = true, tabindex, disabled = false } = Astro.props;
---

<a
  type="button"
  href={disabled ? "#" : href}
  class={`group ${className}`}
  aria-label={ariaLabel}
  title={title}
  tabindex={disabled ? "-1" : "0"}
  target={newTab ? "_blank" : undefined}
  rel={newTab ? "noopener noreferrer" : undefined}
  aria-disabled={disabled}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
