---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import { SITE } from "src/config"

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}
const { frontmatter } = Astro.props;
---

<Layout title=`${frontmatter.title} | ${SITE.title}`>
  <Header activeNav="about" />
  <Breadcrumbs />
  <main id="main-content">
    <section class="mb-28 prose prose-slate max-w-4xl">
      <h1 class="text-2xl sm:text-xl tracking-wider">{frontmatter.title}</h1>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>